*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
}
.head{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;

}
.container{
    display:block;
}
.project{
    display: block;
    flex-direction: row;
    border: 2px solid #eeeeeea1;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.project__image{
    width: 10%;
    max-width: 400px;
}
.project__text{
    font-size: 24px;
    color: white;
    padding: 20px;
}
.prject__btn{
    background-color: whitesmoke;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
      margin: 30px;
    

}

